示例/
I2C_2004_LCD.pdf
RK-10290_410.pdf
I2C_2004_LCD_学习.pdf
text_lcd_o-family.png
.idea/
ESP32_LCD2004_and_five_AHT10_probes/
/Kicad
/I2C_2004_LCD_学习.pdf
/20221213 Before SGP30 Update Onboard File Backup
/Obsolete