示例/
I2C_2004_LCD.pdf
RK-10290_410.pdf
I2C_2004_LCD_学习.pdf
text_lcd_o-family.png
.idea/
ESP32_LCD2004_and_five_AHT10_probes/
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988 STEPPER MOTOR DRIVER CARRIER.STEP
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER.lbr
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER.lib
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER.step
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER.zip
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER (1).lbr
/Kicad/Voldy_Life_Support/ESP32.pretty/A4988_STEPPER_MOTOR_DRIVER_CARRIER (1).zip
/Kicad/Voldy_Life_Support/ESP32.pretty/NE555P.kicad_mod
/Kicad/Voldy_Life_Support/ESP32.pretty/S-9014.kicad_mod
/I2C_2004_LCD_学习.pdf
